h3{
font-size: 25px !important;
}

.btn-success:hover{
    background-color: rgb(187, 5, 5);
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 40px rgb(168, 4, 4);}
    to{box-shadow: 1px 1px 40px rgb(209, 209, 0);}
}